button {
    border-radius: 20px;
    padding: 0 20px;
    line-height: 38px;
    font-size: 14px;
    background-color: #ebebef;
    border: 1px solid #ebebef;
    color: #3c3c43;
    font-weight: bold;
    width: 110px;
}

.active {
    background-color: red;
}